body{
    background-color:rgba(139, 0, 0, 0.74) ;
}

nav{
    background-color: coral;
}


.container{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}


.pelisDivFather{
    background-image: linear-gradient(rgba(0, 255, 157), blue);
    margin: 1%;
    display: inline-flex;
    opacity: 75%;
    
}

.pelisDivFather:hover{
    opacity: 100%;
    transform: scale(1.1);
}

.pelisDiv{
    background-color: brown;
    max-height: 15em;
    height: 15em;
    min-height: 15em;
    padding: 0.2em;
    border: 2px solid black;
    margin: 0.5em;
    width: 10em;
}
.tituloPeli{

    background-color: aqua;

}


h3{
    display: inline;
    margin-right: 5%;
}


.navDiv{
    display: inline;
    width: 100%;
    text-align: center;
}
.spanNavDiv{
    display: inline;
    margin-right: 5%;
}